$button-confirm: #007BFF;
$button-cancel: #E9ECEF;
$button-delete: #CB3656;
$main-white: #FFFFFF;
$border-auth: #BECAD6;
$placeholder-auth: #3D5170;
$border-auth_hover: #3D5170;
$base-font_color: #3D5170;
$auth-label: #495057;
$error: #FF6347FF;

